<h2>User details</h2>
<%= render 'users/user_header'%>
<div>
  <div class="card mt-2 mb-2">
    <p>Bio:</p>
    <p><%= @user.bio%></p>
  </div>
  <div>
    <% @user.posts.each do |post| %>
      <div class="card">
        <h4><%= post.title %><h3>
        <h5><%= post.text %><h3>
        <h6 class="text-end text-muted">Comments: <%=post.comments_counter%> Likes: <%=post.likes_counter%></h6>
      </div>
    <%end%>
  </div>
</div>