<nav class="navbar navbar-expand-lg bg-body-tertiary rounded-pill bg-light shadow-sm px-4 py-2 mt-2">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand fw-bold fs-2 text-primary" do %>
      <i class="bi bi-houses-fill"></i>
    <%end%>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center gap-2">
        <% if current_user %>
          <li class="nav-item">
            <%= link_to current_user.name, user_path(current_user), class: "nav-link fw-semibold text-dark" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-semibold text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill text-primary fs-4"></i> Account
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded-3 mt-2.5">
            <% if signed_in? %>
              <li><%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                  <i class="bi bi-box-arrow-right"></i> Signout
                <%end%>
              </li>
            <% else %>
              <li><%= link_to '🔐 Sign In', new_user_session_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to '📝 Sign Up', new_user_registration_path, class: "dropdown-item" %></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <form class="d-flex mt-3 mt-lg-0" role="search">
        <input class="form-control me-2 rounded-pill shadow-sm" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-primary rounded-pill px-3" type="submit">🔍</button>
      </form>
    </div>
  </div>
</nav>
